/* ----- CSS for about.html ----- */
.strikethrough {
    text-decoration: line-through;
}
main {
    padding-top: 110px;
}

blockquote {
    padding: 100px 200px 0;
    font-style: italic;
}
blockquote footer {
    padding: 20px 0;
}
.header-text p {
    margin: 0 2em;
}

/* exec bios */
.portrait {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.megan, .helen {
    object-position: center top;
}

.execBio {
    display: flex;
    justify-content: center;
    padding: 100px 200px;
}

.bioText {
    padding-left: 100px;
}

.execIntro h4 {
    margin: 0;
    font-size: 2em;
}

.candidRole {
    margin: 1em 0;
    font-style: italic;
}
.favGames {
    font-weight: bold;
    margin-top: 1em;
}

/*-----------------------Responsive stuff---------------------*/
@media screen and (max-width: 1080px) {
    .portrait {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    .execBio {
        flex-direction: column;
        padding: 100px;
    }
    .bioText {
        padding: 0;
    }
    .execIntro {
        text-align: center;
        margin: 2em 0;
    }

    blockquote {
        padding: 100px 100px 0;
    }
}

@media screen and (max-width: 768px) {
    .execBio {
        padding: 100px 50px;
    }
    
}

@media screen and (max-width: 450px) {
    .portrait {
        width: 150px;
        height: 150px;
    }
    blockquote {
        padding: 0;
    }
}