/* ----- CSS for index.html ----- */
 /* landing text */
 .landing-text em {
    font-style: normal;
}
@media screen and (min-width: 768px) {        
    /* landing page text */
    .landing-text {
        font-size: 70px;
        font-family: 'Roboto Mono', "Courier New", monospace;
        margin: 0;
    }
    
}