/*----------------------Colour scheme--------------------------*/
* {
    --ghost-white: #fcfaff;
    --dark-turquoise: #0acedc;
    --dark-purple: #140128;
    --xiketic: #0a0114;
    --french-rose: #ff4782;
}
/*----------------------Global Styles--------------------------*/
body {
    color:var(--ghost-white);
    background: var(--xiketic);
    background: linear-gradient(180deg, var(--xiketic) 25%, var(--dark-purple) 50%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto Mono', "Courier New", monospace;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    list-style-type: none;
    color: var(--ghost-white);
} 

/*-------------------------Navbar-------------------------------*/
header {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: var(--xiketic);
}

/* main menu stuff */
nav {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
.nav-menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}  
.nav-menu > div {
    display: block;
    padding: 20px;
}
.nav-page {
    text-align: center;
}
.nav-page:hover {
    background-color: var(--dark-purple);
}
.nav-page a:hover {
    color: var(--french-rose);
} 

/* social media section */
.social-nav {
    display: flex;
    justify-content: center;
  }
.social-nav a {
    margin: 0 15px;
}
.social-nav img{
    width: 30px;
}   

/*logo*/
.logo {
    display: block;
    float: left;
    width: 150px;
    padding: 30px;
}
  
/* burger icon */
.menu-icon {
    cursor: pointer;
    float: right;
    padding: 40px;
    position: relative;
    user-select: none;
}
.nav-icon {
    background: var(--ghost-white);
    display: block;
    height: 3px;
    width: 30px;
    border-radius: 70px;
    position: relative;
    transition: background .2s ease-out;
}
.nav-icon:before, .nav-icon:after {
    background: var(--ghost-white);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 70px;
    position: absolute;
    transition: all .2s ease-out;
}
.nav-icon:before {
    top: 8px;
}
.nav-icon:after {
    top: -8px;
}

/*clicking on burger icon*/
.menu-btn {
    display: none;
}
.menu-btn:checked ~ .nav-menu {
    max-height: 300px;
}
.menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
.menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}
.menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}

/*-----------------------main content--------------------------*/
main {
    margin: 0 auto 50px;
    padding-top: 110px;
}

/*-----------------------Responsive stuff---------------------*/
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}
@media screen and (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
    }
    header div {
        float: left;
    }
    .nav-menu {
        clear: none;
        position: fixed;
        left: 50%;
        margin-left: -130px;
        max-height: none;
    }
    .nav-page:hover{
        background-color: transparent;
    }
    .social-nav {
        position: fixed;
        right: 10px;
    }
    .menu-icon {
        display: none;
    }
}