
/*-----Global Styles-----*/
body {
    color:white;
    background: #0A0114;
    margin: 0;

    font-family: 'Roboto Mono', "Courier New", monospace;
}

/*-------------------------------------------------------Navbar------------------------------------------------------------*/
header {
    display: flex;
    justify-content: space-around;
    margin: 17px 0px;
    padding: 0;
} 

/*logo/homepage*/
.logo {
    width: 150px;
    padding: 15px 0 10px;
}

/*nav options*/
nav {
    display: flex;
    width: 67%;
}
.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-around;
    list-style-type: none;
    margin: 25 auto;
    padding: 0;
}
.nav-links li {
    letter-spacing: 1px;
}
nav a {
    text-decoration: none;
}

/*#social-nav li {
    background: white;
}*/

.logo {
    width: 150px;
}

/*-----main content-----*/
main {
    width: 60%;
    margin: 0 auto;
}
 /* landing text */
 .landing-text em {
    font-style: normal;
}

/* h2 {
    font-family: Helvetica, Arial, sans-serif;
} */

/*------------------------------------------------------------*****Responsive stuff*****-----------------------------------------------------------------*/

@media screen and (min-width: 768px) {
    /* landing page text */
    .landing-text {
        font-size: 70px;
        font-family: 'Roboto Mono', "Courier New", monospace;
        margin: 0;
    }
    
}

@media screen and (max-width: 1024px){
    /* nav options */
    nav {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    /* ----------navbar---------- */
    /* nav options */
    
    .social-nav {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 9vh;
        background-color: green;
        
    }
    /* logo */
    .logo {
        position: absolute;
        align-content: center;
        width: 125px;
        
    }
    /* -----------main content-------- */
    /* landing page */
    .landing-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 360px) {
    header {
        margin: 10px 0;
    }
    .landing-text {
        font-size: 40px;
    }
}
